.text-center strong {
  display: block;
}

.header-icon {
    height: 15px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.nav.nav-pills.nav-stacked::before {
    top: 50px;
    left: 0;
    position: absolute;
    background-image: url('../images/navigation_top.png');
    background-position: center;
    height: 40px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.nav-pills>li>a {
  color: white;
}

#dbirthmon, #dbirthday {
    width: 40px !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#dbirthyr, #dbirthmon, #dbirthday {
  margin: 0 15px !important;
  color: white;
}

#_tThumb::before {
    top: 0;
    left: 0;
    position: absolute;
    background-image: url('../images/ram.png');
    height: 130px;
    width: 120px;
    background-size: contain;
    margin-left: -10px;
    margin-top: -10px;
    background-repeat: no-repeat;
    content: "";
}

#modalfrm .profile-picture.img-rounded.img-square::before {
    top: 0;
    left: 0;
    position: absolute;
    background-image: url('../images/ram.png');
    height: 130px;
    width: 120px;
    background-size: contain;
    margin-left: 10px;
    margin-top: -10px;
    background-repeat: no-repeat;
    content: "";
}

#modaldmode div {
  text-overflow: ellipsis;
  overflow: hidden;
}

.img-square{
	object-fit:cover;	
}

.modal-content{
	background: url("../images/bgboja.jpg");
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}
.form-group{
	background: #fff;
}

.item_pad{
	background: #fff;
	margin-top: 10px;
	background: transparent;
}

.item_pad .form-group {
	background: transparent;
}

.container{
	width:100%;
}

#vcart {  
  margin-top:10px;  
  font-size: 12px;    
  width:100%;
/*  margin-left:auto;
  margin-right: auto;  */
  height:95vh;
  text-align: center;
  position: relative;
/*  max-width:1100px; */
  overflow:hidden;  
}

.header-container{
	  height:15vh;
	  position:absolute;
	  z-index:1000;
}

body {
	height:100vh;
    padding-top: 0px;
	background:  url("../images/drvo.png"), url("../images/bgboja.jpg");
    background-size: contain, cover;
	background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.btn-ok{
    width: 56px;
}

input[type=text] {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: 0;
}

input:focus {
    border-color: red;
}


.modal_header {

    border-style: solid;
    border-width: 2px;
    bottom-border-color: rgb(255, 255, 255);
    background-color: rgb(226, 8, 44);
    box-shadow: inset 2.5px 4.33px 29px 0px rgba(24, 24, 25, 0.3);

}

.form-group
{
    margin-bottom: 2px;
}

.modalform
{
    border: 2px solid white;
    border-radius: 7px;
}

.footer-container{
	position: absolute;
	width: 100%;
	top: 85vh;
	bottom: 0;
	left: 0;
}
.footer-family{
	text-transform: uppercase;
	text-align: center;
    color: white;
    padding-top: 30px;
    font-size: 30px;
	margin: 0 auto;
	width: 500px;
	min-height: 100px;
	background:  url("../images/placeholder_lat.png");
    background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
}
.logo-container{
	position: absolute;
	width: 100%;
	top: 6vh;
}
.logo{
	margin: 0 auto;
	width: 500px;
	min-height: 120px;
	background:  url("../images/logo_lat.png");
    background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
}
.logo.large {
	min-height: 300px;
	width: auto;
}

.vcart-inner{
	background:transparent;
}

.modal-name-placeholder{
		background:  url("../images/name-placeholder.png");
		    background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
		margin: 0 auto;
	width: 100%;
	min-height: 100px;
	display: flex;
    align-items: center;
    justify-content: center;
}
#aheading{
	vertical-align: middle;
	text-align: center;
	margin: auto;
}

.nav>li>button {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.form-label-img{

}

.window {
	height: 100px !important;
}

.window::before {
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../images/ram.png);
    height: 130px;
    width: 120px;
    background-size: contain;
    margin-left: -10px;
    margin-top: -10px;
    background-repeat: no-repeat;
    content: "";
}

.profile-picture {
	background-size: cover;
	background-position: center;
}

.chart-demo .profile-picture {
	position: absolute;
    top: 0;
    left: 0;
}

.fb_btn:before, .accept_btn:before {
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

.fb_btn, .accept_btn {
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgb(255, 255, 255) !important;
	border-radius: 15px !important;
	box-shadow: 0px 0px 29px 0px rgba(24, 24, 25, 0.2) !important;

	cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;

    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;

    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    background-color: #4267b2;
    border-color: #4267b2;
    line-height: 26px;
    padding: 0 10px;
    color: #fff;
}

.fb_btn {
	background: -moz-linear-gradient(90deg, rgb(49,79,168) 0%, rgb(67,95,177) 100%) !important;
	background: -webkit-linear-gradient(90deg, rgb(49,79,168) 0%, rgb(67,95,177) 100%) !important;
	background: -ms-linear-gradient(90deg, rgb(49,79,168) 0%, rgb(67,95,177) 100%) !important;
}

.accept_btn {
	background: rgb(226, 8, 44);
}

.fb_btn-container, .accept_btn-container {
	padding-top: 5vh;
}

/* jebeni radio button - begin */
.label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

input[type=radio] {
  display: none;
}

.label:before {
  content: "";
  display: inline-block;
 
  width: 16px;
  height: 16px;
 
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: transparent;
  border: 2px solid white;
}

.label:before {
  border-radius: 8px;
}

input[type=radio]:checked + .label:before {
    content: "\2022";
    color: white;
    font-size: 29px;
    text-align: center;
    line-height: 12px;
    padding-left: 1px;
}
/* jebeni radio button - end */

.menu_btn {
	margin: 3px 20px 0 20px;
    padding: 2px 15px;

	border-style: solid;

	border-width: 1px;

	border-color: rgb(255, 255, 255);

	border-radius: 15px;

	background-color: rgb(226, 8, 44);

	color: rgb(255, 255, 255);

	transition: all 0.3s ease 0s;

}

.menu_btn.exit {
	float: right;
	padding: 2px 5px;
}

.menu_btn:hover {

	background-color: rgb(255, 255, 255);

	color: rgb(226, 8, 44);

}

.navigation_bar {
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 35px;
    z-index: 1000;
    height: 35px !important;

	border-style: solid;

	border-width: 2px;

	bottom-border-color: rgb(255, 255, 255);

	height: 75px;

	background-color: rgb(226, 8, 44);

	box-shadow: 0px 0px 29px 0px rgba(24, 24, 25, 0.2);
}

.nodename {
	margin-top: 120px;
    display: block;
}

.nodename:before {
	background-size: contain;
    margin-left: -10px;
    margin-top: -10px;
    background-repeat: no-repeat;
    content: "";
    height: 50px;
    width: 120px;
    top: 120px;
    left: 0;
    position: absolute;
    background-position: center;
    background-image: url(../images/placeholder_small.png);
}

.radio-inline {
	color: white;
}

#modaldmode {
	color: white;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 20px;
  position: absolute;
  top: 40px;
  right: 50px;
} 
.toggle.ios .toggle-handle { border-radius: 20px; }